includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
    excludePaths:
        - tests/*
    level: 5 # Tu peux monter jusqu'à 9 au fur et à mesure